body{
    margin: 0px;
    padding: 15px;
}
.icons {
    width: 40px;
    height: 40px;
    padding: 0 5px;
}
h2   {
    font-family: sans-serif;
    display: flex;
    flex-flow: nowrap;
}
/*@media screen and (min-width:960px) and (max-width:1200px) {*/
    /* ... */
* {
   margin: 0;
   padding: 0;
}
a {
    display: flex;
    justify-content: space-evenly;
}
h1 {
    text-align: center;
    padding-bottom: .8em;
    padding-top:.2em;
}
.alert-info{
    box-sizing: border-box ;
    height: .5em;
    background-color: #add8e6;
    border: 2px solid #d3d3d3;
    text-align: center;
    padding: 1.4em;
}
.alert-info > a{
    color: #000000;
    text-decoration: none;
}
@media only screen and (max-width: 576px) {
    .nav-links  li {
        display: flex;
        background-color: #d3d3d3;
        margin-bottom: .5em;
        padding: 1em;
        flex-flow: column;
        /*margin: 5px;this overwrote margin bottom dude*/
        list-style: none;
    }
}
@media only screen and (min-width: 576px) {
    .nav-links {
        list-style: none;
        box-sizing: border-box;
        margin: 0;
        display: flex;
        flex-direction: column;
        float: right;
        padding: 1em;
        /*text-align: center;*/
    }
}
.header-img img{
    width: 100%;
    padding-top: .5em;
    padding-bottom: 1em;
}
footer > p {
    float: left;
}

#social-media-links{
    float: right;
}

#social-media-links li{
    background-color: transparent;
    list-style: none;
    float: left;
    letter-spacing: 1em;
}
@media screen and (min-width: 768px) {
    .icons {
        width: 40px;
        height: 40px;
        padding: 0 5px;
    }
}
@media only screen and (min-width: 576px) {
    .hidden-on-desktop{display:none;}
}

/*changed code to .main and .sub-section */
.main {
        width: 500px;
        display: flex;
        column-width: auto;
        flex-wrap: wrap;
    }
.sub-section{
    width: 95%;
    padding-top: 1em;
}
footer{
    clear: both;
    padding-top: 30px;
}